<html>
<head>
	<title>Angular</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/library/angular/angular.min.js"></script>
    <script src="/static/library/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/library/restangular/dist/restangular.min.js"></script>
    <script src="/static/library/underscore/underscore-min.js"></script>
    <script src="/static/library/angular-django-rest-resource/angular-django-rest-resource.js"></script>
    <script src="/static/library/angular-cookies/angular-cookies.js"></script>
    <script src="/static/library/angular-sanitize/angular-sanitize.min.js"></script>
    <link href="/static/library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />
    <link href="static/library/angular/angular-csp.css" rel="stylesheet" />


</head>

<body ng-app="AngularApp">
	
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         
          <div class="container">
            
            <div class="navbar-header">
               
              <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                
            <ul class="nav navbar-nav" ng-controller="PageController">
                <li ng-repeat="p in pages"><a href="#page/[[p.id]]">[[ p.title ]]</a></li>
                <li><a href="#"  ui-sref="register">Register</a></li>        
                
            </ul>	
	
           <div ng-controller="AuthController" >
                 <ul class="nav navbar-nav">
                  <li> <a ng-click='toggleModal()' style="cursor: pointer">Login</a> </li>
                 </ul>            
                <modal-dialog show='modalShown' width='200px' height='60%'>
                 
                  <form ng-submit="submit()">
                    
                      <label for="id_username">Username</label>
                      <input name="username" id="id_username" type="text" ng-model="username" placeholder="Username" class="form-control" required />
                   
                    
                      <label for="id_password">Password</label>
                      <input name="password" id="id_password" type="password" ng-model="password" placeholder="Password" class="form-control" required />
                    
                   
                    <div class="alert alert-danger" ng-show="isError">[[ rez.message ]] </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
               
                </modal-dialog>
            </div>

            </div><!--/.navbar-collapse -->
        </div>
    </div>
    

    <div style="margin-top: 60px;" >
       <div ng-controller="TopicController" class="well col-md-2">
            <ul>
                <li ng-repeat="t in topics"><a href="#topic/[[t.id]]/page/1">[[ t.name ]]</a></li>
            </ul>	            
        </div>
        <div ng-controller="PageController" class="col-md-10">
              [[test]]
             {% block content %} {% endblock %}
        </div>
    </div>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/router.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/services/djangoAuth.js"></script>
    <script src="/static/js/services/validate.js"></script>
    <script src="/static/js/services/blog.js"></script>
    <script src="/static/js/directives/commentform.js"></script>
    <script src="/static/js/directives/login-form.js"></script>


</body>
</html>

