<htm>
<head>
	<title>Angular</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/library/angular/angular.min.js"></script>
    <script src="/static/library/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/library/restangular/dist/restangular.min.js"></script>
    <script src="/static/library/underscore/underscore-min.js"></script>
    <script src="/static/library/angular-django-rest-resource/angular-django-rest-resource.js"></script>
    <script src="/static/library/angular-cookies/angular-cookies.js"></script>
    <script src="/static/library/angular-sanitize/angular-sanitize.min.js"></script>
    <link href="/static/library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />



</head>

<body ng-app="AngularApp">
	
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         
          <div class="container">
            
            <div class="navbar-header">
               
              <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                
            <ul class="nav navbar-nav" ng-controller="PageController">
                <li ng-repeat="p in pages"><a href="#page/[[p.id]]">[[ p.title ]]</a></li>
                <li><a href="#"  ui-sref="register">Register</a></li>        
                <li><a href="{% url 'auth' %}" >login</a></li>
            </ul>		
             


            </div><!--/.navbar-collapse -->
        </div>
    </div>>	
    

    <div style="margin-top: 60px;" >
       <div ng-controller="TopicController" class="well col-md-2">
            <ul>
                <li ng-repeat="t in topics"><a href="#topic/[[t.id]]/page/1">[[ t.name ]]</a></li>
            </ul>	            
        </div>
        <div ng-controller="PageController" class="col-md-10">
             {% block content %} {% endblock %}
        </div>
    </div>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/router.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/services/djangoAuth.js"></script>
    <script src="/static/js/services/validate.js"></script>
    <script src="/static/js/services/blog.js"></script>
    <script src="/static/js/directives/commentform.js"></script>


</body>
</html>

