<htm>
<head>
	<title>Angular</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/library/angular/angular.min.js"></script>
    <script src="/static/library/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/library/restangular/dist/restangular.min.js"></script>
    <script src="/static/library/underscore/underscore-min.js"></script>
    

    <link href="/static/library/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


    
</head>

<body ng-app="AngularApp">
		{% block content %}{% endblock %}



    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/router.js"></script>
    <script src="/static/js/services.js"></script>

</body>
</html>

